.questions {
position: absolute;
bottom:100px;
z-index: 99;
width: 30%;
}

#close{
  width: 70px;
  height: 70px;
  position: relative;
  top:100px;
  left: 85%;
  }
  .icon {
    height: 50px;
    width: 50px;
  }