.container {
	color: black;
    padding: 0;
}
.vl {
	border-left: 6px solid rgb(12, 0, 65);
	height: 500px;
}

img {
	margin-right: 100px;
}
.tableLeft {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-bottom: 50px;
}
