*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.spacer {
  flex: 0.5;
}

.spacer-right {
  flex: 1;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 22px;
  font-weight: 700;
  padding: 3rem;
  width: 100vw !important;
  z-index: 1000;
}
.navbar img {
  margin-left: 0rem;
  margin-top: 5rem;
  height: 170px;
  width : 170px;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes logo {
  0%    {left:0px;   top:0px;}
  100%  {left:250px; top:0px;}
}

.navbar span {
  text-decoration: none;
  background: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 0, 149));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*border-image-source: linear-gradient(to right, rgb(255, 49, 49), rgb(255, 0, 149)); */
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0.2rem;
  margin-right: 5rem;
  transition: 0.5s ease-in-out;
}

.border {
  border: 2px solid rgb(255, 0, 149);
  border-radius: 25px 25px 25px 25px;
  padding: 0.2rem 1rem !important;
  transition: 0.05s ease-in-out;
}
.border:hover {
  border: 2px solid rgb(62, 194, 255);
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

