*, *::after, *::before{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* outline: 1px solid red; */
}

.spacer {
     flex: 0.5;
}

.spacer-right {
     flex: 1;
}

.navbar {
     position: relative;
     top: 0;
     left: 0;
     right: 0;
     height: 60px;
     display: flex;
     align-items: center;
     background-color: hsl(200, 70%, 50%);
     color: white;
     font-size: 17px;
     font-weight: 600;
     padding: 0 1rem;
     width: 100vw !important;
}
.navbar img {
     margin-right: .5rem;
}
.navbar span {
     text-decoration: none;
     color: #fff;
     background: transparent;
     text-align: center;
     position: relative;
     cursor: pointer;
     padding: 0.2rem 1rem;
}
.navbar span:before {
     content: '';
     position: absolute;
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     top: calc(2px/-1);
     left: calc(2px/-1);
     background: linear-gradient(to right, #fff 0%, #fff 100%), linear-gradient(to top, #fff 50%, transparent 50%), linear-gradient(to top, #fff 50%, transparent 50%), linear-gradient(to right, #fff 0%, #fff 100%), linear-gradient(to left, #fff 0%, #fff 100%);
     background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
     background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
     background-repeat: no-repeat, no-repeat;
     transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
     transform: scaleX(0) rotate(0deg);
     transition-delay: 0.1s, 0.3s, 0s;
}
.navbar span:hover:before {
     background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
     background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
     transform: scaleX(1) rotate(0deg);
     transition-delay: 0s, 0.3s, 0.6s;
}

.user-logo{
     width : 25px;
     height: 25px;
     border-radius: 50%;
}
