.dnd-container {
  height: 800px;
  width: 1000px;
  background-image: url("https://image.freepik.com/free-vector/flat-design-abstract-background_23-2149116112.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: black;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 60px;
}
.dnd-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dnd-sub-container:hover {
  cursor: pointer;
}

.multiple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(251, 246, 246);
  height: 200px;
  width: 600px;
  padding: 0 5rem;
  border-radius: 20px;
  border: dashed rgb(88, 86, 86);
  border-width: 8px;
  font-size: 80px;
  text-shadow: 0px 0px 0 rgb(143, 120, 243), 1px 1px 0 rgb(143, 120, 243),
    2px 2px 0 rgb(143, 120, 243), 3px 3px 0 rgb(143, 120, 243),
    4px 4px 0 rgb(143, 120, 243), 5px 5px 0 rgb(143, 120, 243),
    6px 6px 0 rgb(143, 120, 243), 7px 7px 0 rgb(143, 120, 243),
    8px 8px 0 rgb(143, 120, 243), 9px 9px 0 rgb(143, 120, 243),
    10px 10px 0 rgb(143, 120, 243), 11px 11px 10px rgba(0, 0, 0, 0.6),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(251, 246, 246);
  height: 150px;
  width: 150px;
  padding: 0 5rem;
  border-radius: 20px;
  border: dashed rgb(88, 86, 86);

  border-width: 8px;
  text-shadow: 0px 0px 0 rgb(143, 120, 243), 1px 1px 0 rgb(143, 120, 243),
    2px 2px 0 rgb(143, 120, 243), 3px 3px 0 rgb(143, 120, 243),
    4px 4px 0 rgb(23, 120, 243), 5px 5px 0 rgb(23, 120, 243),
    6px 6px 0 rgb(233, 120, 243), 7px 7px 0 rgb(233, 120, 243),
    8px 8px 0 rgb(233, 120, 243), 9px 9px 0 rgb(233, 120, 243),
    10px 10px 0 rgb(233, 120, 243), 11px 11px 10px rgba(0, 0, 0, 0.6),
    11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.responce {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
}

.icon {
  height: 50px;
  width: 50px;
}
.challenge-arrow {
  height: 60px;
  width: 60px;
}

.challenge-arrow:hover {
  box-shadow: skyblue;
}

.drop-here {
  font-size: 30px;
}

.goal-text {
  position: absolute;
  padding: 10px;
  font-size: 25px;
  max-width: 400px;
  margin-left: 10px;
  /* margin-top: -10px; */
  background: rgba(93, 93, 218, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Source Serif 4", sans-serif;
  text-align: justify;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  padding: 10px;
}

.switch-question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
  width: 1100px;
}

/* .submit-btn button{

} */
.hand-animation {
  border-radius: 20px;
  position: absolute;
  height: 800px;
  width: 1000px;
  padding-left: 100px;
  background: rgba(16, 16, 16, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hand-animation video {
  position: absolute;
  height: 800px;
  width: 800px;
  margin-left: auto;
  border-radius: 20px;
  background-color: rgb(41, 41, 41);
}
.winVideo {
  margin-top: 15%;
  margin-left: 25%;
  border: rgb(170, 170, 170) solid 2px;
  border-radius: 30px;
}
h4 {
  margin-top: 50px;
}

